<template>
  <div id="app">
    <div class="container">
      <div v-if="(!file_uploading) && (!isLoading)" class="card">
        <div class="card-header">Конвертер</div>
        <div class="card-body">
          <div v-if="file_not_uploaded" class="custom-file col-sm-5">
            <label class="custom-file-label">
              File
              <input
                type="file"
                class="custom-file-input"
                id="file"
                ref="file"
                :accept="formats"
                v-on:change="submitFile"
              />
            </label>
          </div>
          <div v-if="uploaded_file">Загруженный файл: {{uploaded_file}}</div>
          <div v-if="file_download">Конвертированный файл: {{file_download}}</div>
          <div v-if="!file_not_uploaded && out_formats && !file_download">
            <label for="out_format">Формат:</label>
            <multiselect
              v-if="!file_not_uploaded && out_formats && !file_download"
              class="col-sm-7"
              v-model="out_format"
              :options="out_formats"
              :searchable="true"
              :close-on-select="true"
              :show-labels="false"
              placeholder="Output format"
              id="out_format"
            ></multiselect>
          </div>
          <div v-if="!file_not_uploaded && !file_download && (mode == AUDIO)">
            <label for="bitrate">Битрейт</label>
            <input id="bitrate" type="number" v-model="bitrate"/>
          </div>
        </div>
        <div v-if="(!file_not_uploaded) || (file_download)" class="card-footer">
          <button
            class="btn btn-success"
            v-if="(mode == AUDIO) && (!file_not_uploaded) && (!file_download) && (out_format)"
            @click="convertFile"
          >Конвертировать</button>
          <button v-if="!file_not_uploaded && !file_download && (mode == VIDEO)" class="btn btn-success" @click="rotateVideoModal">Повернуть</button>
          <button
            class="btn btn-danger"
            v-if="!file_not_uploaded"
            @click="upload_new_file"
          >Загрузить другой файл</button>
          <button
            class="btn btn-success"
            v-if="!file_not_uploaded && file_converted"
            @click="download"
          >Скачать</button>
        </div>
      </div>
    </div>
    <div class="loaders">
      <Progress class="loader" v-if="file_uploading" :percentage="upload_percentage" type="circle"></Progress>
      <pacman-loader class="loader" v-if="isLoading"></pacman-loader>
    </div>
    <v-dialog />
  </div>
</template>

<script>
import axios from "axios";
import FileUpload from "v-file-upload";
import Multiselect from "vue-multiselect";
import "bootstrap";
import "bootstrap/dist/css/bootstrap.min.css";
import PacmanLoader from "vue-spinner/src/PacmanLoader.vue";
import Progress from "vue-multiple-progress";

export default {
  data() {
    return {
      out_format: null,
      out_formats_all: null,
      file_not_uploaded: true,
      formats: ".aac,.mp3,.flac,.wav,.mkv,.mov,.m4a,.tak,.flv,.3gp,.mp4",
      isLoading: false,
      file_converted: false,
      file_download: null,
      slider_value: null,
      uploaded_file: null,
      file: "",
      upload_percentage: 0,
      file_uploading: null,
      out_formats: null,
      ERROR: 0,
      AUDIO: 1,
      VIDEO: 2,
      mode: null,
      bitrate: 320,
    };
  },
  created() {
    this.getOutputFormats();
  },
  components: {
    FileUpload,
    Multiselect,
    PacmanLoader,
    Progress
  },
  methods: {
    rotateVideoModal() {
      this.$modal.show("dialog", {
        title: "Повернуть видео",
        text: "Выберите угол поворота",
        buttons: [
          {
            title: "↺",
            handler: () => {
              this.rotateVideo(90);
            }
          },
          {
            title: "180",
            handler: () => {
              this.rotateVideo(180);
            }
          },
          {
            title: "↻",
            handler: () => {
              this.rotateVideo(270);
            }
          }
        ]
      });
    },
    rotateVideo(deg) {
      this.isLoading = true;
      this.$modal.hide("dialog");
      axios
        .post("/converter/convert", {
          format: this.out_format,
          file: this.uploaded_file,
          converter_action: "rotate-video",
          angle: deg
        })
        .then(response => {
          this.isLoading = false;
          this.file_converted = true;
          this.file_download = response.data;
          this.uploaded_file = null;
          this.isLoading = false;
        })
        .catch(e => {
          console.error(e);
          this.isLoading = false;
        });
    },
    submitFile() {
      this.file = this.$refs.file.files[0];
      let data = new FormData();
      data.append("file", this.file);
      this.file_uploading = true;
      this.upload_percentage = 0;
      axios
        .post("/converter/upload", data, {
          onUploadProgress: function(progressEvent) {
            this.upload_percentage = parseInt(
              Math.round((progressEvent.loaded / progressEvent.total) * 100)
            );
          }.bind(this)
        })
        .then(response => {
          this.uploaded_file = response.data;
          this.file_not_uploaded = false;
          this.file_converted = false;
          this.file_uploading = false;
          let ext = this.uploaded_file.match(/\.[^.]+$/)[0].slice(1);
          if (this.out_formats_all.video.includes(ext)) {
            this.out_formats = this.out_formats_all.video;
            this.mode = this.VIDEO;
          } else if (this.out_formats_all.audio.includes(ext)) {
            this.out_formats = this.out_formats_all.audio;
            this.mode = this.AUDIO;
          } else {
            this.out_formats = null;
            this.mode = this.ERROR;
          }
        })
        .catch(e => {
          console.error(e);
        });
    },
    getOutputFormats() {
      axios
        .get("/converter/out_formats")
        .then(response => {
          this.out_formats_all = response.data;
        })
        .catch(e => {
          console.error(e);
          this.isLoading = false;
        });
    },
    convertFile() {
      this.isLoading = true;
      axios
        .post("/converter/convert", {
          format: this.out_format,
          file: this.uploaded_file,
          converter_action: "convert-audio",
          bitrate: this.bitrate,
        })
        .then(response => {
          this.isLoading = false;
          this.file_converted = true;
          this.file_download = response.data;
          this.uploaded_file = null;
        })
        .catch(e => {
          console.error(e);
          this.isLoading = false;
        });
    },
    download() {
      this.file_uploading = true;
      this.upload_percentage = 0;
      axios({
        url: "/converter/download",
        data: { file: this.file_download },
        method: "POST",
        responseType: "blob",
        onDownloadProgress: function(progressEvent) {
          this.upload_percentage = parseInt(
            Math.round((progressEvent.loaded / progressEvent.total) * 100)
          );
        }
      })
        .then(response => {
          var a = document.createElement("a");
          document.body.appendChild(a);
          a.style = "display: none";
          var json = response.data,
            blob = new Blob([json], { type: "octet/stream" }),
            url = window.URL.createObjectURL(blob);
          a.href = url;
          a.download = this.file_download;
          a.click();
          window.URL.revokeObjectURL(url);
          this.isLoading = false;
          this.file_uploading = false;
        })
        .catch(e => {
          console.error(e);
          this.isLoading = false;
        });
    },
    upload_new_file() {
      this.file_not_uploaded = true;
      this.file_converted = false;
      this.file_download = false;
    }
  }
};
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style scoped>
p {
  font-size: 2em;
  text-align: center;
}
button {
  border-radius: 25px;
}
.loaders {
  position: absolute;
  top: 45%;
  left: 45%;
}
</style>
